<h1><%= @project.title %></h1>
<h2><%= @project.description %></h2>
<h3><%= @project.teaser %></h3>

<h3><%=@project.user.first_name %> <%=" " + @project.user.last_name %></h3>
<%total_pledges = 0 %>
<% if @project.pledges.length > 0 %>
	<% @project.pledges.each do |p|%>
		<% if p != 0 %>
			<div class="info"><%=p.formatted_pledge%>  Pledged by: <%=p.user.email%> </div>
			<% total_pledges = total_pledges.to_i + p.amount.to_i %>
		<%end%>
	<%end%>
<% else %>
<%= "Nobody has pledged to this project yet! Be the first!" %>
<br>
<%end%>

<% percent_to_goal = (total_pledges*100)/@project[:goal] %>

<br>
Progress:
<div class="progress progress-info" style="margin-bottom: 9px;">

    <div class="bar" style="width: <%=percent_to_goal%>%"><div class ="pledges"> Total Pledges $<%=total_pledges.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse%></div></div>
    <div class ="goal"><i class="icon-leaf"></i> Goal  <%=@project.formatted_goal%></div>
</div>

<br>
<%= link_to 'Back This Project', "/projects/#{@project.id}/pledges/new", class: 'btn btn-success' %>

<!-- <div class="progress progress-success" style="margin-bottom: 9px;">
    <div class="bar" style="width: 40%"></div>
</div>
<div class="progress progress-warning" style="margin-bottom: 9px;">
    <div class="bar" style="width: 60%"></div>
</div>
<div class="progress progress-danger" style="margin-bottom: 9px;">
    <div class="bar" style="width: 80%"></div>
</div> -->

